@charset "UTF-8";
/**mes variables**/
/*****couleurs****/
/**remise a zéro de certains élements lié au code **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/**mes variables**/
/*****couleurs****/
header {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}
header img {
  height: 68px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #ff6060;
  font-size: 1.2em;
  font-weight: 500;
}
header nav a {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
}

/**style qui s'applique si le lien est actif**/
.navActive {
  border-bottom: 3px solid #000;
  padding-bottom: 2px;
}

/**mes variables**/
/*****couleurs****/
/***ici se trouve les fonction permettant de reutiliser des morceaux de codes ****/
/****ombre de banniere**/
.banner {
  width: 86%;
  height: 250px;
  margin: 0 auto 40px auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.banner img {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  object-fit: cover;
}
.banner h1 {
  width: 100%;
  height: 250px;
  color: #fff;
  font-size: 3.6em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: -220px;
  line-height: 200px;
  z-index: 2;
}

/**mes variables**/
/*****couleurs****/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  height: 220px;
}
.footer img {
  width: 8em;
  height: 42px;
  margin-bottom: 32px;
}
.footer p {
  color: #fff;
  font-size: 1.6em;
  font-weight: 500;
}

/**mes variables**/
/*****couleurs****/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 86%;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 0 auto 40px auto;
  padding: 40px;
}

/**mes variables**/
/*****couleurs****/
.card-item {
  width: 30%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 400px;
  margin: 15px;
}

.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 23px 10px;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 70px;
  font-size: 1.1em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(10, 10, 10, 0.5) 42%, rgba(4, 4, 4, 0.5) 99.99%, rgba(0, 0, 0, 0.4) 100%);
}

/**mes variables**/
/*****couleurs****/
.content_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 20px;
  margin-bottom: 20px;
}
.content_list .content {
  width: 1440px;
  height: 34px;
  background-color: #ff6060;
  border-radius: 5px;
  padding: 30px 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_list h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}
.content_list .rafter {
  font-size: 2.5em;
  font-weight: 500;
  color: #fff;
  padding-bottom: 10px;
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.content_list .rafterActive {
  transform: rotate(-92deg);
}
.content_list p {
  width: 1440px;
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
  line-height: 1.5em;
  opacity: 0;
}
.content_list .listActive {
  opacity: 1;
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
  padding: 20px;
}

/**mes variables**/
/*****couleurs****/
.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.errorPage h1 {
  color: #ff6060;
  font-size: 10em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 150px;
}
.errorPage p {
  color: #ff6060;
  font-size: 2em;
  text-align: center;
  margin-bottom: 150px;
  font-weight: 700;
}
.errorPage a {
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 150px;
}

/*# sourceMappingURL=style.css.map */
