@import "../utils/_Variables";

header {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;

  img {
    height: 68px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 50px;
    color: $Red;
    font-size: 1.2em;
    font-weight: 500;
  }
  nav a {
    color: $Black;
    font-size: 1.2em;
    font-weight: 500;
  }
}
/**style qui s'applique si le lien est actif**/
.navActive {
  border-bottom: 3px solid $Black;
  padding-bottom: 2px;
}
